*{
    margin: 0px;
    padding: 0px;    
}

:root{
    --azul-dnc: #0C70F2;
    --preto-dnc: #303030;
    --cinza-hover: #C9C9C9;

    --font-padrao: 'inter';
}

body{
    background: linear-gradient(180deg, rgba(12,112,242,0.5) 19.91%,rgba(12,112,242,0)24.84%), #303030;
    background-repeat: no-repeat;
}
#principal{
    width: 100%;
    height: 100px;

    background-color: #303030;

    display: grid;
    grid-auto-flow: column;

    border: 1px solid #BABABA;
}
#principal div a{
    font-family: 'inter';
    font-size: 22px;
    font-weight: 600;
    color: white;

    text-decoration: none;
}
    #principal div a:hover{
        color: gray
    }
#menu{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 5%;
}
#login{ 
    display: flex;
    justify-content: space-around;
    align-items: center;

}
#login button{
    font-family: 'inter';
    font-size: 20px;
    font-weight: 600;
    color: white;

    margin-left: 25%;
    
    background-color: #0C70F2;
    border: 0px;
    height: 40px;
    width: 80px;
    box-shadow: 4px 3px 5px rgb(12, 112,242,0.35);

    border-radius: 3px;
    
    
}
    #login button:hover{
        cursor: pointer;
        color: rgb(1, 42, 75);
        background-color: #428cec;
    }

section{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 100px 0px 100px 0px;

    font-family: var(--font-padrao);
    color: white;
}
header h1{
    font-size: 80px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    
    margin-bottom: 20px;
}
header h2{
    text-align: center;

    font-size: 25px;
    font-weight: 700;

    margin-bottom: 100px;
} 
header .invert{
    background-color: black;
    font-weight: bold;
    padding: 5px;
}

form{
    font-size: 22px;
    font-weight: 600;
    width: 600px;
}
.form-group{
    display: flex;
    flex-direction: column;
    
    margin: 10px 0px 10px 0px;
}
form label{
    margin: 10px 0px 10px 5px;
}
form input{
    border: 0px;
    border-radius: 10px;

    height: 30px;
    font-size: 20px;

    padding: 10px;

    background-color: rgba(255,255,255,0.9);
}
form input::placeholder{
    color: rgba(57,57,57,0.5);
}
.checkbox-itens label{
    font-size: 20px;
    margin-right: 40px;
}
.checkbox-itens{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
input[type="checkbox"]{
    transform: scale(1.7);
}
input[type="submit"]{
    color: white;
    background-color: var(--azul-dnc);
    width: 100%;
    height: 56px;
    font-family: var(--font-padrao);
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 100px;

    box-shadow: 0px 6px 4px rgba(12,112,242,0.25);
    cursor: pointer;
}

footer{
    color: white;
    width: 100%;

    background-color: var(--azul-dnc);
    padding: 35px 0px 50px 15px;

    font-family: var(--font-padrao);
    font-weight: 600;
}

footer .lineOne{
    margin: 30px 0px 0px 0px;
    display: flex;
    justify-content: space-around;
}
footer ul{
    list-style: none;
    text-align: center;
}
footer ul li {
    margin: 15px;
}
footer a{
    color: white;
    text-decoration: none;
}
footer h5{
    font-size: 18px;
    background-color: black;
    text-align: center;
    border-radius: 5px;

}
footer .location{
    margin: 50px;
    text-align: center ;
}

footer .lineTwo{
    margin: 50px 15px 15px 15px;
    text-align: center;
}

@media only screen and (max-width: 700px)  {
    #principal{
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
    }
    #principal #menu{
        display: flex;
        flex-direction: column;
        margin: 0px;
    }
    #principal #menu a{
        margin: 5px;
    }
    #login button{
        margin: 0px;
        width: 100%;
    }

    header h1 {
        font-size: 33px;
    }
    header h2 {
        font-size: 21px;
        padding: 0px 20px 0px 20px;
    }
    form{
        width: 98%;
    }
    .checkbox-itens{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .checkbox-itens input {
        margin: 5px;
    }
    .checkbox-itens label{
        margin: 0px;
    }
    input[type="checkbox"]{
        transform: none;
    }
    footer .lineOne{
        display: inline;
    }
    footer{
        padding: 22px 0px 22px 0px;
    }

}